/bin/
/out/
*.exe
*.test
*.out
/vendor/
.env
*.local.yaml
*.local.env
.idea/
.vscode/*
!.vscode/extensions.json
.DS_Store
Thumbs.db
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!example.tfvars
*.dec.yaml
secret.*.yaml
kubeseal-cert.pem
